.table {
  width: 100%;
  border-collapse: collapse;
  background: #f6f8ff;

  caption {
    padding: 10px 5px;
    text-align: left;
    font-size: 20px;
  }

  th {
    text-align: left;
    background: #1b2c48;
    color: #fff;
  }

  th,
  td {
    padding: 10px;
    border-top: 1px solid #1b2c48;
  }

  tr {
    background: #fff;
  }

  .tableAvatarCell {
    width: 80px;
  }

  tbody tr:nth-of-type(odd) {
    background: #ededed;
  }
}
