.splitScreen {
  min-height: 100vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .splitScreenRightPanel {
    width: 100%;
    flex: 0 0 100%;
    order: 2;
    background: #fff;
  }

  .splitScreenLeftPanel {
    flex: 1;
    order: 1;
    padding: 0 10px;
    margin: 20px 0;
  }

  @media only screen and (min-width: 768px) {
    & {
      flex-direction: row;
      padding-bottom: 0;

      .splitScreenRightPanel {
        flex: 0 0 350px;
        order: 1;
      }

      .splitScreenLeftPanel {
        order: 2;
      }
    }
  }
}
